body {
  padding: 0;
  background-color: var(--backgroundColor);
  margin: 0;
}

:root {
  --backgroundColor: #1b1f22;
}

.cardContainer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


